<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="back-office">Daxa Back Office</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="back-office" Match="NavLinkMatch.All">Home</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="back-office/device-registration-pins">Device Registration PINs</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="back-office/devices">Devices</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="back-office/terminals">Terminals</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="back-office/locations">Locations</NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="back-office/catalog">Catalog &amp; Menus</NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
