@page "/"
@inject IDeviceContextStore DeviceContextStore
@inject IAuthSessionStore SessionStore

<PageTitle>Daxa POS</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Daxa POS</h1>

        @if (SessionStore.Current is { } session)
        {
            <p>Signed in as <strong>@session.DisplayName</strong>.</p>
        }

        @if (DeviceContextStore.Current is { } device)
        {
            <p>Device <code>@device.DeviceId</code> (@device.DeviceType) at location <code>@device.LocationId</code>.</p>
        }

        <p><a href="sales">Go to Sales</a></p>
    </Authorized>
    <NotAuthorized>
        <p>You're not signed in. <a href="login">Go to staff login</a>.</p>
    </NotAuthorized>
</AuthorizeView>
